@import "variables";

.btn-vmw {
    position: relative;
    display: inline-flex;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    text-decoration: none;
    outline: none;

    // variant
    &--primary {
        background-color: $primary;
        color: $white;
    }
    &--primary:hover {
        background-color: white;
        color: $primary;
        border-color: $primary;
    }

    &--secondary {
        background-color: $secondary;
        color: $black;
    }
    &--secondary:hover {
        background-color: $black;
        color: $secondary;
        border-color: $secondary;
    }

    // size
    &--sm {
        min-width: $small;
    }
    &--md {
        min-width: $medium;
    }
    &--lg {
        min-width: $large;
    }
}